<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="EmbedBrowser.mjs" type="module"></script>
    <style>
        embed-browser::part(wrapper){
            width: 100%;
            background-color: white;
        }

        embed-browser::part(frame){
            width: 100%;
        }
    </style>
</head>
<body>
    <h1>Embed Browser</h1>
    <embed-browser src="../../../../../index.html"></embed-browser>




    
</body>
</html>