:root{
    --primary_color: #4f06ea;
    --primary_color_hover: #56b0b7;
    --secondary_color:#e5e8ec;
    --radius: 7px;

    --color_html:#f2672e;
    --color_css:#30aadd;
    --color_js:#f2bf26;
}

html,body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#webcontainer{
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--primary_color);
    color: var(--secondary_color);
    text-align: center;

}

header #menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid var(--secondary_color);


}

header > #menu > span{
    background-color: var(--primary_color);
    padding: 1em;
    flex: 0 1 5em;

    text-align: center;
    font-size: larger;

}

header > #menu > span:hover{
    background-color: var(--primary_color_hover);
}

#content{
    background-color: var(--secondary_color);
    height: 100%;
    padding: 1em;
    flex: 1;
    overflow: auto;

}

#content > h1{
    text-align: center;
}

footer{
    background-color: var(--primary_color);
    color: var(--secondary_color);
    padding: 0.2em;
    text-align: center;

}

.codeBox{
    background-color: var(--primary_color);
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    padding: .3em;
    width: max-content;
    border-radius: var(--radius);
    color: whitesmoke;
    box-shadow: 1px 1px 10px black;
    margin: 2em auto 1em;
    font-size: large;


}

.codeBox > .language_html {
    grid-column-start: 2;
    text-align: right;
    color: var(--color_html);
    font-weight: bold;
}

.codeBox > .language_js {
    grid-column-start: 2;
    text-align: right;
    color: var(--color_js);
    font-weight: bold;
}

.codeBox > .language_css {
    grid-column-start: 2;
    text-align: right;
    color: var(--color_css);
    font-weight: bold;
}

.codeBox > .title{
    grid-column-start: 1 span;

}

.codeBox > code{
    grid-column-start: 1;
    grid-column-end: 4;

    margin-top: 1em;

}

.codeBox  pre{
    margin: 0;
    white-space: pre-wrap;
    padding: 1.5em;
}
