#side-wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header"
               "main aside"
               "footer footer";
    grid-template-columns: 1fr  auto;
    grid-template-rows: auto 1fr auto;
}