#side-wrapper{
    min-height: 100vh;
    display: grid;
    grid-template-areas: "header header"
               "aside main"
               "footer footer";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
}