header,
.header {
    background-color: $primary-color;
    grid-area: header;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo{
        margin-left: 1rem;
        font-weight: 700;
        height: 2.5rem;
        font-size: x-large;
    }

    ul{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;


        li{
            padding: 1rem 1rem;
            cursor: pointer;
            &:hover{
                background-color: $secondary-color;
                color: $white-font-color;
            }
            &.active{
                background-color: $secondary-color;
                color: $white-font-color;
            }
        }
    }



 #orange-elements{
            fill: var(--orange);
            fill-opacity: var(--opacity);
        }

        #green-elements{
            fill: var(--green);
            fill-opacity: var(--opacity);

        }
        
        .animation{
            animation: wishout .5s ease-in ;
        }

        #logo{
            --orange: #c04003; 
            --green: #25544d; 
            --opacity: 0.8;
            cursor: pointer;

            &:hover{
                --green: #c04003; 
                --orange: #25544d; 
                --opacity: 0.9;
    
            }
    
        }

        @keyframes wishout {
            0%{
                transform: translateX(-100px);
                
            }
        }





}

