header,
.header {
    background-color: $primary-color;
    grid-area: header;
    @include box-shadow;
  
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo{
        color: $secondary-color;
        margin-left: 1rem;
        font-weight: 700;
        font-size: x-large;
    }

    ul{
        list-style: none;
        display: flex;
        width: 100px;
        flex-direction: row;
        justify-content: flex-end;

        li{
            padding: 1rem 1rem;
            cursor: pointer;
            &:hover{
                background-color: $secondary-color;
                color: $white-font-color;
            }
            &.active{
                background-color: $secondary-color;
                color: $white-font-color;
            }
        }
    }
}
