#center-section
{

    grid-area: main;
    background: rgb(75,75,75);
    background: radial-gradient(circle, rgba(75,75,75,1) 50%, rgba(45,45,45,1) 100%);
    color: $white-font-color;
    padding: 1.5rem;
    position: relative;
    overflow-x: hidden;
    text-align: justify;
}

#hider{
    background-color: rgba(0, 0, 0, .6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

#html-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;

}