aside,
.aside{
    user-select: none;
    background-color: $background-color-darker-opac;
    color: $white-font-color;
    padding: 1.5rem 0;
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 15rem;
    z-index: 10;
    animation: slideIn .5s linear forwards;

    ul{
        list-style: none;
    
        
        li{
            padding: 1rem .75rem;
            
            &:hover{
                background-color: $primary-color;
                color: $background-color-darker;
                cursor: pointer;
            }

            &.active{
                background-color: $primary-color;
                color: $background-color-darker;
            }
        }
    }
}

@keyframes slideIn {
    0%{
        transform: translateX(300px);
    }
}
