aside,
.aside{
    grid-area: aside;
    background-color: $background-color-darker;
    color: $white-font-color;
    padding: 1.5rem 0;
    

    ul{
        list-style: none;
    
        
        li{
            padding: 1rem .75rem;
            
            &:hover{
                background-color: $primary-color;
                color: $background-color-darker;
                cursor: pointer;
            }

            &.active{
                background-color: $primary-color;
                color: $background-color-darker;
            }
        }
    }
}

