$primary-color: rgb(184, 204, 193);
$secondary-color:rgba(58, 108, 100 , 1); 
$background-color: rgb(58, 52, 52);
$background-color-darker: rgb(34, 25, 25);
$background-color-darker-opac: rgba(34, 25, 25, 0.9);
$white-font-color: whitesmoke;