$primary-color: #b8ccc1;
$primary-color-hover: #6f8177;
$secondary-color:#3a6c64; 
$background-color: #3a3434;
$background-color-darker: rgb(34, 25, 25);
$background-color-darker-opac: rgba(34, 25, 25, 0.9);
$white-font-color: whitesmoke;