
  example-tabs::part(tab-bar) {
    display: flex;
  }
  
  example-tabs::part(content) {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(245, 245, 245, 0.253);
  }
  
  example-tabs::part(tab) {
    user-select: none;
    margin-right: -1px;
    margin-bottom: -1px;
    background: $primary-color;
    border: 1px solid $secondary-color;
    padding: 10px 15px;
    color: $secondary-color;
    cursor: pointer;
  
  }
  
  example-tabs::part(tab-selected) { 
    background: $secondary-color;
    border-bottom: 0;
    color: whitesmoke;
  }


    
  example-tab{
    width: 100%;
  }