/* 
*   Das Layouting orientiert sich an dem von SASS vorgeschlagenen Muster. 
*   Infos dazu findet man hier https://sass-guidelin.es/de/ im Bereich Architektur 
*/

@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

@import 'abstracts/mixins';
@import 'abstracts/colors';

@import 'layout/footer';
@import 'layout/header';
@import 'layout/sidebar';
@import 'layout/main';
@import 'layout/grid';

@import 'components/buttons';
@import 'components/questionBox';
@import 'components/figures';
@import 'components/taskCard';
@import 'components/fileViewer';

@import 'pages/home';

@import 'base/reset';
@import 'base/typography';