/* 
*   Das Layouting orientiert sich an dem von SASS vorgeschlagenen Muster. 
*   Infos dazu findet man hier https://sass-guidelin.es/de/ im Bereich Architektur 
*/
@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
footer,
.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #b8ccc1;
  color: #3a3434;
  text-align: center;
}

header,
.header {
  background-color: #b8ccc1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo,
.header #logo {
  margin-left: 1rem;
  font-weight: 700;
  height: 2.5rem;
  font-size: x-large;
}

header ul,
.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul li,
.header ul li {
  padding: 1rem 1rem;
  cursor: pointer;
}

header ul li:hover,
.header ul li:hover {
  background-color: #3a6c64;
  color: whitesmoke;
}

header ul li.active,
.header ul li.active {
  background-color: #3a6c64;
  color: whitesmoke;
}

aside,
.aside {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(34, 25, 25, 0.9);
  color: whitesmoke;
  padding: 1.5rem 0;
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  width: 15rem;
  z-index: 10;
  -webkit-animation: slideIn .5s linear forwards;
          animation: slideIn .5s linear forwards;
}

aside ul,
.aside ul {
  list-style: none;
}

aside ul li,
.aside ul li {
  padding: 1rem .75rem;
}

aside ul li:hover,
.aside ul li:hover {
  background-color: #b8ccc1;
  color: #221919;
  cursor: pointer;
}

aside ul li.active,
.aside ul li.active {
  background-color: #b8ccc1;
  color: #221919;
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

@keyframes slideIn {
  0% {
    -webkit-transform: translateX(300px);
            transform: translateX(300px);
  }
}

#center-section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background: #4b4b4b;
  background: radial-gradient(circle, #4b4b4b 50%, #2d2d2d 100%);
  color: whitesmoke;
  padding: 1.5rem;
  position: relative;
  overflow-x: hidden;
}

#hider {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: none;
}

#html-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 5%;
}

#side-wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

button,
.button {
  background-color: #3a6c64;
  color: whitesmoke;
  height: 1.5 rem;
  padding: .5rem;
  border: none;
}

input[type="color"] {
  border: none;
  background-color: transparent;
  height: 2rem;
}

a {
  color: #b8ccc1;
  text-decoration: none;
}

a:visited {
  color: #b8ccc1;
}

a::before {
  content: '\01F517 ';
}

.question-box {
  margin-top: 1rem;
}

.question-box p {
  color: #b8ccc1;
  font-style: italic;
  margin-top: .5rem;
}

figure {
  text-align: center;
  margin: 2rem auto;
  width: 75%;
  display: block;
}

figure img {
  max-width: 100%;
  margin-bottom: 1rem;
}

figure figcaption {
  color: #b8ccc1;
  font-style: italic;
}

figure > img:hover {
  cursor: pointer;
  -webkit-box-shadow: 2px 2px 5px 0 #707070;
          box-shadow: 2px 2px 5px 0 #707070;
  z-index: 10;
}

task-card {
  margin: 1rem;
}

file-viewer {
  margin: 0 auto;
  max-width: 100%;
}

embed-browser::part(wrapper) {
  width: 100%;
  background-color: white;
}

embed-browser::part(frame) {
  width: 100%;
}

example-tabs::part(tab-bar) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

example-tabs::part(content) {
  -webkit-box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: rgba(245, 245, 245, 0.253);
}

example-tabs::part(tab) {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: -1px;
  margin-bottom: -1px;
  background: #b8ccc1;
  border: 1px solid #3a6c64;
  padding: 10px 15px;
  color: #3a6c64;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

example-tabs::part(tab):hover {
  background-color: #6f8177;
  color: whitesmoke;
}

example-tabs::part(tab-selected) {
  background: #3a6c64;
  border-bottom: 0;
  color: whitesmoke;
}

example-tab {
  width: 100%;
  padding: 2rem;
}

example-tab h3 {
  padding-top: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
  overflow-x: hidden;
}

h1 {
  font-size: 1.75rem;
}

acronym, abbr {
  -webkit-text-decoration: underline 2px solid #b8ccc1;
          text-decoration: underline 2px solid #b8ccc1;
  cursor: help;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px grey;
          box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b8ccc1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3434;
}

* {
  font-family: 'Fredoka', sans-serif;
}

h1, h2, h3 {
  padding: 1.5rem 0;
}

typing-field {
  padding-left: 5%;
}

reference-source {
  font-style: italic;
  color: #bf5c2a;
  display: inline;
}

dfn {
  color: #b8ccc1;
}
/*# sourceMappingURL=main.css.map */