/* 
*   Das Layouting orientiert sich an dem von SASS vorgeschlagenen Muster. 
*   Infos dazu findet man hier https://sass-guidelin.es/de/ im Bereich Architektur 
*/
footer,
.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: greenyellow;
  color: #3f6407;
  text-align: center;
}

header,
.header {
  background-color: greenyellow;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  -webkit-box-shadow: 2px 2px 5px 0 black;
          box-shadow: 2px 2px 5px 0 black;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #logo,
.header #logo {
  color: #3f6407;
  margin-left: 1rem;
  font-weight: 700;
  font-size: x-large;
}

header ul,
.header ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header ul li,
.header ul li {
  padding: 1rem 1rem;
  cursor: pointer;
}

header ul li:hover,
.header ul li:hover {
  background-color: #3f6407;
  color: whitesmoke;
}

header ul li.active,
.header ul li.active {
  background-color: #3f6407;
  color: whitesmoke;
}

aside,
.aside {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(34, 25, 25, 0.9);
  color: whitesmoke;
  padding: 1.5rem 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 15rem;
  z-index: 10;
  -webkit-animation: slideIn .5s linear forwards;
          animation: slideIn .5s linear forwards;
}

aside ul,
.aside ul {
  list-style: none;
}

aside ul li,
.aside ul li {
  padding: 1rem .75rem;
}

aside ul li:hover,
.aside ul li:hover {
  background-color: greenyellow;
  color: #221919;
  cursor: pointer;
}

aside ul li.active,
.aside ul li.active {
  background-color: greenyellow;
  color: #221919;
}

@-webkit-keyframes slideIn {
  0% {
    width: 0;
  }
}

@keyframes slideIn {
  0% {
    width: 0;
  }
}

#center-section {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  background-color: #3a3434;
  color: whitesmoke;
  padding: 1.5rem;
  position: relative;
}

#side-wrapper {
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
}

.question-box {
  margin-top: 1rem;
}

.question-box p {
  color: greenyellow;
  font-style: italic;
  margin-top: .5rem;
}

figure {
  text-align: center;
  margin: 2rem auto;
  width: 70%;
  display: block;
}

figure img {
  max-width: 70%;
}

figure figcaption {
  color: greenyellow;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3 {
  padding-bottom: 1rem;
}
/*# sourceMappingURL=main.css.map */