*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 1.75rem
}

acronym, abbr{
    text-decoration: underline 2px solid $primary-color;
    cursor: help;
}

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #b8ccc1; 
    border-radius: 10px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #3a3434; 
    }

    .padding-list{
        padding-left: 1rem;
        list-style: none;
        
        & li::before{
            content: "\23F9 \00a0";
            color: $primary-color;
        }
        
    }