*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100%;
    overflow-x: hidden;
}

h1{
    font-size: 1.75rem
}

acronym{
    text-decoration: underline 2px solid $primary-color;
    cursor: help;
}